<script type="text/javascript">
  $(document).ready(function(){
    $("#sel_machine").on("change", function(){
      $("#link_to_pdf").attr("href", document.getElementById("prod_dur_path").value+".pdf?machine="+$("#sel_machine").val())
    });
  });
</script>

<section class="content-header">
  <h1>
    Durabilidad de Repuestos
    <small>Índice</small>
  </h1>

  <ol class="breadcrumb">
    <li><i class="fa fa-cog"></i> <span>Reportes</span></li>
    <li><%= link_to "Durabilidad de Repuestos", "#" %></li>
    <li class="active">Índice</li>
  </ol>
</section>

<section class="content">
  <div class="text-right">
    <%= select_tag("sel_machine", options_for_select(@all_machines.sort)) %>
    <input type="hidden" value="<%= product_durabilities_path %>" id="prod_dur_path" %>
    <%= link_to "Imprimir", product_durabilities_path(format: :pdf, :machine => (@all_machines.sort)[0]), target: :_blank, class: "btn btn-default btn-info", id: "link_to_pdf" %> 
  </div>
  <div class="box box-success">
    <div class="box-header">
    </div>
    <div class="box-body table-responsive no-padding">
      <table id="paginated-table" class="table table-hover">
        <thead>
        <tr role="row">
          <th>Máquina</th>
          <th>Producto</th>
          <th>Marca</th>
          <th>Hecho el</th>
          <th>Durabilidad en Días</th>
          <th width="1"></th>
        </tr>
        </thead>
        <% $v_done_at = Time.new %>
        <% $v_dur = 0 %>
        <% $v_bname = "bname" %>
        <% $v_pname = 0 %>
        <% $v_mname = 0 %>
        <% $used_mat = Hash.new %>
        <tbody>
        <% @materials_maintenances.each do |mat_maint| %>
          <tr>
            <% @m_maintenance_pm = ProgrammedMaintenance.select('id, done_at, description, comments, machine_id, required_maintenance_id').find_by(id: mat_maint.programmed_maintenance_id) %>
            <% @prods = Product.select('id, name, product_brand_id').find_by(id: mat_maint.product_id) %>
            <% @machines = Machine.select('id, name').find_by(id: @m_maintenance_pm.machine_id) %>
            <% @brands = ProductBrand.select('id, name').find_by(id: @prods.product_brand_id) %>

            <% if @m_maintenance_pm.done_at != nil && @brands != nil && @prods != nil && @machines != nil && @m_maintenance_pm != nil %>
              <% if $used_mat[@prods.name] == nil %>
                <% $used_mat[@prods.name] = Hash.new %>
              <% end %>

              <% $v_bname = @brands.name %>
              <% $v_pname = @prods.name %>
              <% $v_mname = @machines.name%>
              <% @last_done_at = $used_mat[@prods.name][@machines.name] %>

              <% if @last_done_at == nil %>
                <% $v_dur = (@m_maintenance_pm.done_at..Time.now).count-1%>
              <% else %>
                <% $v_dur = (@m_maintenance_pm.done_at..@last_done_at).count-1 %>
              <% end %>

              <% $used_mat[@prods.name][@machines.name] = @m_maintenance_pm.done_at %>

              <td><%= $v_mname %></td>
              <td><%= $v_pname %></td>
              <td><%= $v_bname %></td>
              <td><%= @m_maintenance_pm.done_at%></td>
              <td><%= $v_dur %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render partial: "shared/deletion_modal" %>
</section>
