<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<%= wicked_pdf_stylesheet_link_tag "bootstrap.min.css" -%>
	</head>
	<body>
		<div class="text-center">
			<%= image_tag wicked_pdf_asset_base64('logo.png') %>
		</div>
		<% @machine_name = params[:machine] %>
		<title><%= @machine_name %> - Historial de Mantenimientos</title>
		<h1 class="text-primary text-center"><%= @machine_name %> - Historial de Mantenimientos</h1>

		<div class="box box-success">
		  <div class="box-header">

		  </div>

		  <div class="box-body table-responsive no-padding">
		    <table class="table table-hover">
		      <thead>
		      <tr role="row">
		        <th>Máquina</th>
		        <th>Tipo</th>
		        <th>Hecho en</th>
		        <th>Duración estimada</th>
		        <th>Comentarios</th>
		        <th width="1"></th>
		      </tr>
		      </thead>
		      <tbody>
		      	<% @programmed_maintenances_history.each do |pm| %>
		      		<% @machine = Machine.select(:name).find_by(id: pm.machine_id)%>
		      		<% if @machine.name == @machine_name %>
				        <tr>
				        	<td><%= @machine.name %></td>
				            <td><%= if pm.preventive then "Requerido" else "Correctivo" end%></td>
				            <td><%= pm.done_at%></td>
				            <td><%= pm.estimated_duration %> horas</td>
				            <td><%= pm.comments %></td>
				        </tr>
			        <% end %>
		        <% end %>
		      </tbody>
		    </table>
		  </div>
		</div>
		<%= yield %>
	</body>
</html>