<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<%= wicked_pdf_stylesheet_link_tag "bootstrap.min.css" -%>
	</head>
	<body>
		<div class="text-center">
			<%= image_tag wicked_pdf_asset_base64('logo.png') %>
		</div>
		<title><%= @machine.name+" - Ficha de Ejecucion"%></title>
		<h1 class="text-primary text-center">
			<%="Ficha de Ejecucion (" + params[:type] + ") - "+@machine.name%>
		</h1>
		
		<% @preventive = if params[:type] == "Preventivo" then true else false end %>

		<table class="table table-bordered table-striped">
	        <thead>
	        	<tr role="row">
				    <th>Tipo de Mantenimiento</th>
				    <th>Fecha Programada</th>
				    <th>Duracion Estimada</th>
				    <th>Materiales Utilizados</th>
				    <th>Commentarios</th>
				</tr>
		    </thead>
			    <tbody>
				    <% if @finishedMaintenances %>
					    <% for maint in @finishedMaintenances %>
					    	<% @materials = maint.materials_for_maintenances %>
	                        <% @prod_names = Array.new %>
	                        <% @materials.each do |mat| %>
		                        <% @prod = Product.select('name').find_by(id: mat.product_id) %>
		                        <% if not @prod_names.include? @prod.name %>
		                            <% @prod_names.push(@prod.name+"("+mat.used_quantity.to_s+")") %>
		                        <% end %>
	                        <% end %>
					    	<% if @preventive == maint.preventive %>
						    	<tr>
							        <td><%= maint.description %></td>
							        <td><%= maint.scheduled_at %></td>
							        <td><%= maint.estimated_duration %> horas</td>
							        <td><%= @prod_names.join(', ')%></td>
							        <td><%= maint.comments %></td>
						        </tr>
					        <% end %>
					    <% end %>
				    <% end %>
			    </tbody>
		</table>
		<%= yield %>
	</body>
</html>